[mysql]
no-auto-rehash

[mysqld]
sql_mode                        = NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER
user                            = mysql
server-id                       = 1
gtid_mode                       = on
enforce_gtid_consistency        = 1
log_slave_updates               = 1
skip_name_resolve
expire_logs_days                = 3
symbolic-links                  = 0
character-set-server            = utf8
back_log                        = 300
max_connections                 = 10240
max_connect_errors              = 300
max_allowed_packet              = 100M
max_heap_table_size             = 128M
binlog_cache_size               = 4M
sort_buffer_size                = 16M
join_buffer_size                = 16M
thread_cache_size               = 32
query_cache_size                = 128M
query_cache_limit               = 4M
thread_stack                    = 512K
tmp_table_size                  = 128M
log-bin                         = mysql-bin
memlock
max_binlog_cache_size           = 64M
max_binlog_size                 = 512M
